@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Standard Ebooks examples below ----------------------------------------- */

span[epub|type~="subtitle"]{
    display: block;
    font-weight: normal;
}
[epub|type~="z3998:poem"] p{
    text-align: left;
    text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
    display: block;
    text-indent: -1em;
    padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
    display: none;
}

[epub|type~="z3998:poem"] p + p{
    margin-top: 1em;
}

[epub|type~="z3998:poem"] + p{
    text-indent: 0;
}

p span.i1{
    text-indent: -1em;
    padding-left: 2em;
}

p span.i2{
    text-indent: -1em;
    padding-left: 3em;
}
abbr.name{ white-space: nowrap; }


/* Matthew Clapp custom below --------------------------------------------- */

/* could be the same as a poem? */
[epub|type~="boxingplaybyplay"]{
    text-indent: -1.5em;
    padding-left: 1.5em;
}

.fromprint {
    font-variant: small-caps;
}
